[Desktop Entry]
Name=WorkFlowy
Exec=env APPIMAGELAUNCHER_DISABLE=1 DESKTOPINTEGRATION=0 /opt/WorkFlowy-x86_64.AppImage
Terminal=false
Type=Application
Icon=workflowy
StartupWMClass=WorkFlowy
X-AppImage-Version=1.3.5-18094.18094
Comment=Make Lists. Not War.
Categories=Office;
X-XFCE-Source=file:///usr/share/applications/workflowy.desktop
