[Desktop Entry]
Version=1.0
Type=Link
Name=Github Personal
Comment=Launch Github Personal
Icon=folder-black-github
URL=https://github.com/sobrinojulian?tab=repositories
