[Desktop Entry]
Version=1.0
Type=Link
Name=Github Somos Liana
Comment=Launch Github Somos Liana
Icon=folder-violet-github
URL=https://github.com/somosliana
