[Desktop Entry]
Name=ScreenRuler
Comment=ScreenRuler lets you measure objects on your screen using six different metrics.
Icon=kruler
Exec=screenruler
Terminal=false
Type=Application
Categories=GTK;Application;Utility
X-XFCE-Source=file:///usr/share/applications/gnome-screenruler.desktop
Path=
StartupNotify=false
