[Desktop Entry]
Version=1.0
Type=Link
Name=Github Playground
Comment=Launch Github Playground
Icon=folder-yellow-github
URL=https://github.com/BA7B7CFE
