[Desktop Entry]
Name=Disk Usage Analyzer
Comment=Check folder sizes and available disk space
Keywords=storage;space;cleanup;
TryExec=baobab
Exec=baobab %U
Icon=org.gnome.baobab
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;System;Filesystem;X-GNOME-Utilities;
DBusActivatable=true
X-GNOME-UsesNotifications=true
X-XFCE-Source=file:///usr/share/applications/org.gnome.baobab.desktop
