[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/var/Desktop/indecisovampiro.com.ar]
row=5
col=12

[/home/sj/var/Desktop/CV | Sobrino Julian.pdf]
row=3
col=9

[/home/sj/var/Desktop/julito.xyz]
row=4
col=0

[/home/sj/var/Desktop/ort]
row=2
col=1

[/home/sj/var/Desktop/garden]
row=3
col=0

[/home/sj/var/Desktop/somosliana.com]
row=0
col=1

[/home/sj/var/Desktop/123]
row=5
col=0

[/home/sj/var/Desktop/dotfiles]
row=1
col=1

[/home/sj/var/Desktop/Downloads]
row=0
col=0

[/home/sj/var/Desktop/cv]
row=3
col=8

[/home/sj/var/Desktop/seguridadhigienetdf.com]
row=4
col=1

[/home/sj/var/Desktop/eclipse]
row=3
col=1

[Trash]
row=1
col=0

[/home/sj]
row=2
col=0

