[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/Desktop/resume]
row=7
col=0

[/home/sj/Desktop/pillarsed.com]
row=6
col=0

[/home/sj/Desktop/seguridadhigienetdf.com]
row=0
col=1

[/home/sj/Desktop/somosliana.com]
row=1
col=1

[/home/sj/Desktop/cintiasusnar.com]
row=4
col=0

[/home/sj/Desktop/indecisovampiro.com.ar]
row=3
col=0

[/home/sj/Desktop/mmx]
row=5
col=0

[/home/sj/Desktop/org]
row=2
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/sj]
row=1
col=0

