[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/Desktop/resume]
row=1
col=11

[/home/sj/Desktop/pillarsed.com]
row=4
col=11

[/home/sj/Desktop/app]
row=1
col=8

[/home/sj/Desktop/gjsconsultora.com]
row=1
col=13

[/home/sj/Desktop/seguridadhigienetdf.com]
row=2
col=11

[/home/sj/Desktop/indecisovampiro.com.ar]
row=0
col=11

[/home/sj/Desktop/cintiasusnar.com]
row=0
col=12

[/home/sj/Desktop/somosliana.com]
row=0
col=10

[/home/sj/Desktop/barbershopcream.com]
row=0
col=13

[/home/sj/Desktop/mmx]
row=2
col=13

[/home/sj/Desktop/org]
row=3
col=13

[Trash]
row=4
col=13

