[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/Desktop/natalia_mixchelle]
row=8
col=15

[/home/sj/Desktop/data]
row=5
col=0

[/home/sj/Desktop/papeleratauro.com]
row=1
col=16

[/home/sj/Desktop/pillarsed.com]
row=0
col=12

[/home/sj/Desktop/somosliana.com]
row=0
col=11

[/home/sj/Desktop/Playground]
row=0
col=0

[/home/sj/Desktop/cintiasusnar.com]
row=1
col=13

[/home/sj/Desktop/institutoexcel.com]
row=0
col=16

[/home/sj/Desktop/indecisovampiro.com.ar]
row=3
col=0

[/home/sj/Desktop/resume]
row=1
col=14

[/home/sj/Desktop/julito.xyz]
row=6
col=0

[/home/sj/Desktop/novo]
row=4
col=0

[/home/sj/Desktop/c]
row=8
col=16

[/home/sj/Desktop/seguridadhigienetdf.com]
row=1
col=12

[Trash]
row=4
col=13

[/]
row=1
col=0

[/home/sj]
row=2
col=0

