[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/Desktop/Repos]
row=3
col=0

[/home/sj/Desktop/Playground]
row=0
col=0

[/home/sj/Desktop/pillarsed.com]
row=5
col=16

[/home/sj/Desktop/novo]
row=2
col=0

[/home/sj/Desktop/resume]
row=5
col=14

[/home/sj/Desktop/seguridadhigienetdf.com]
row=7
col=14

[/home/sj/Desktop/julito.xyz]
row=5
col=13

[/home/sj/Desktop/somosliana.com]
row=5
col=15

[/home/sj/Desktop/data]
row=1
col=0

[/home/sj/Desktop/papeleratauro.com]
row=8
col=13

[/home/sj/Desktop/indecisovampiro.com.ar]
row=6
col=13

[/home/sj/Desktop/cintiasusnar.com]
row=7
col=13

[/home/sj/Desktop/institutoexcel.com]
row=8
col=14

[/home/sj/Desktop/vault]
row=4
col=0

[Trash]
row=9
col=16

