[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/Desktop/soundcloud-scraper]
row=0
col=0

[/home/sj/Desktop/papeleratauro.com]
row=7
col=0

[/home/sj/Desktop/_playground]
row=1
col=0

[/home/sj/Desktop/bookmarks-fixer]
row=2
col=0

[/home/sj/Desktop/pillarsed.com]
row=7
col=13

[/home/sj/Desktop/twitter-bookmarks-scraper]
row=0
col=12

[/home/sj/Desktop/_archive]
row=4
col=3

[/home/sj/Desktop/cintiasusnar.com]
row=5
col=14

[/home/sj/Desktop/losandesodontologia.com]
row=7
col=1

[/home/sj/Desktop/sharauter]
row=0
col=14

[/home/sj/Desktop/extintores-app]
row=6
col=0

[/home/sj/Desktop/_purgatory]
row=4
col=1

[/home/sj/Desktop/institutoexcel.com]
row=6
col=1

[/home/sj/Desktop/indecisovampiro.com.ar]
row=4
col=11

[/home/sj/Desktop/resume]
row=5
col=12

[/home/sj/Desktop/julito.xyz]
row=4
col=9

[/home/sj/Desktop/bookmarks]
row=5
col=7

[/home/sj/Desktop/zone]
row=0
col=11

[/home/sj/Desktop/timer]
row=3
col=0

[/home/sj/Desktop/Downloads]
row=4
col=7

[/home/sj/Desktop/ole-cli]
row=1
col=13

[/home/sj/Desktop/9z-cli]
row=2
col=12

[/home/sj/Desktop/orgfiles]
row=5
col=6

[/home/sj/Desktop/xcolor-tailwind]
row=0
col=4

[/home/sj/Desktop/seguridadhigienetdf.com]
row=5
col=13

[/home/sj/Desktop/mortem-cli]
row=5
col=0

[/home/sj/Desktop/aquehorajuegaboca-cli]
row=1
col=11

[Trash]
row=8
col=14

