[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sj/Desktop/resume]
row=0
col=12

[/home/sj/Desktop/templates]
row=0
col=16

[/home/sj/Desktop/app]
row=5
col=0

[/home/sj/Desktop/seguridadhigienetdf.com]
row=0
col=14

[/home/sj/Desktop/somosliana.com]
row=0
col=13

[/home/sj/Desktop/playground]
row=2
col=0

[/home/sj/Desktop/cli]
row=6
col=0

[/home/sj/Desktop/clean.sh]
row=8
col=16

[/home/sj/Desktop/data]
row=3
col=0

[/home/sj/Desktop/mmx]
row=0
col=15

[/home/sj/Desktop/sites]
row=4
col=0

[Trash]
row=9
col=16

[/]
row=0
col=0

[/home/sj]
row=1
col=0

