[Desktop Entry]
Name=Audacity
GenericName=Sound Editor
Comment=Record and edit audio files
Icon=org.audacityteam.Audacity
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=env --file-forwarding org.audacityteam.Audacity UBUNTU_MENUPROXY=0 audacity @@ %F @@
StartupNotify=false
Terminal=false
MimeType=application/x-audacity-project;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;application/ogg;audio/x-vorbis+ogg
X-Flatpak-RenamedFrom=audacity.desktop;
X-Flatpak=org.audacityteam.Audacity
X-XFCE-Source=file:///var/lib/flatpak/exports/share/applications/org.audacityteam.Audacity.desktop
